{% extends "base.html" %}
{% block content %}
    <!-- User is logged in, display management system placeholder -->
    <div class="about-page">
        <!-- <header>  
            <h1> Team_Name </h1>
        </header> -->
        <main>
            <h1>Welcome to Pharmacy Awesome</h1>
            <div class="owner-information">
                <h2>About the Owners</h2>
                <p> This is a brief summary about the founders of <b>Pharmacy Awesome</b>. Four college partners, Ryan, Jose, Ruben, and Ian came together to make your friendly neigborhood pharmacy.</p>
            </div>
            <div class="contact-information">
                <h2>Contact Information</h2>
                <p>
                <b>1209 E 2nd St #100</b>
                <br>
                Tucson, AZ 85721
                <br>
                <a target="_blank" href="https://maps.app.goo.gl/7WPNkGqv1qJRFrsa6"> Get Directions</a>
                </p>
            </div>
            <div class="list">
                <ul>
                    <li>Email: <a href="mailto:contact@pharmacy.com">contact@pharmacy.com </a></li>
                    <li>Phone: <a href="tel:(520)855-3010">(520) 855-3010</a></li>
                    <li>Fax: <a href="tel:(520) 123-5813">(520) 855-3010</a></li>
                </ul>
            </div>
            <div class="operating-hours">
                <h2>Pharmacy Hours</h2>
                <div class="list">
                    <ul>
                        <li>Mon: 7:00 AM - 8:00 PM</li>
                        <li>Tue: 7:00 AM - 8:00 PM</li>
                        <li>Wed: 7:00 AM - 8:00 PM</li>
                        <li>Thu: 7:00 AM - 8:00 PM</li>
                        <li>Fri: 7:00 AM - 8:00 PM</li>
                        <li>Sat: 8:00 AM - 6:00 PM</li>
                        <li>Sun: Closed</li>
                    </ul>
                </div>
            </div>
        </main>
    </div>
{% endblock content %}
