{% extends "base.html" %}
{% load custom_filters %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'prescription_list.css' %}" />
{% endblock css %}
{% block content %}
<h1>Order Receiving Menu</h1>
{% if user|is_in_group:"Pharmacy Manager" %}
    <h2>Order List</h2>
    <hr>
        
        <!-- Display messages if there are any -->
        {% if messages %}
            {% for message in messages %}
                <div id="{% if message.tags %}alert-{{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% for order in orders %}
    <li>
        <strong>Order {{forloop.counter}}</strong>
        <ul>
            <strong>Medication:</strong> {{ order.drug.drug_name }}<br>
            <strong>Quantity in Order:</strong> {{ order.quantity }}<br>
            <strong>Date Ordered:</strong> {{ order.order_date }}<br>
            <button><a class="button_links" href="{% url 'receive_order' order.id %}">Receive this order</a></button>
        </ul>
        <hr>
    </li>
    {% endfor %}
{% else %}
    <p>You must <a href="/accounts/login">login to a Pharmacy Manager account</a> to view receiving information.</p>
{% endif %}

{% endblock %}