{% extends "master.html" %}

{% block title %}
Details about {{ prescription.name }}
{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pharmacy Management System</title>
    {% block css %}
    {% endblock css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}" />
</head>
<header>
    <div class="header-section brand">
        <h1>Team_Name</h1>
    </div>
    <span class="divider">|</span>
    <div class="header-section navigation">
        <a href="{% url 'landingPage' %}" class="nav-link">Home</a>
        <a href="{% url 'prescriptions' %}" class="nav-link">Prescriptions</a>
    </div>
</header>

<h1>{{ prescription.name }} {{ prescription.expiry }}</h1>
  
<p>Name: {{ prescription.name }}</p>
<p>Expires on: {{ prescription.expiry }}</p>
<p>Back to <a href="/prescriptions/all/">all prescriptions</a></p>

{% endblock %}