{% extends "base.html" %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'form.css' %}" />
{% endblock css %}
{% block content %}
    <div class="form-container">
        <h2>Fill Prescription for {{ prescription.patient }}</h2>
        
        <!-- Display messages if there are any -->
        {% if messages %}
            {% for message in messages %}
                <div class="alert_message" id="{% if message.tags %}alert-{{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group {{ field.name }}">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}<div class="errors">{{ field.errors }}</div>{% endif %}
                    {% if field.help_text and not field.errors %}<div class="help-text">{{ field.help_text }}</div>{% endif %}
                </div>
            {% endfor %}
            <button type="submit">Mark as Filled</button>
        </form>
        
        <button ><a href="{% url 'prescription_list' %}">Cancel</a></button>
    </div>
{% endblock %}