{% extends "base.html" %}
{% load custom_filters %}
{% block content %}
    <html>
    <head>
        <title>Prescription List</title>
    </head>
    <body>
        <h2>Prescription List</h2>
        
        {% if user|is_in_group:"Pharmacist" %}
            <p>Welcome pharmacist! You are given the ability to fill prescriptions.</p>
        {% else %}
            <p>You do not have permission to fill prescriptions. Prescription Filling is only available to the Pharmacists.</p>
        {% endif %}

        <!-- Loop through the prescriptions and display them -->
        <ul>
            {% for prescription in prescriptions %}
                <li>
                    <strong>Patient:</strong> {{ prescription.patient.first_name }}<br>
                    <strong>Medication:</strong> {{ prescription.medication.drug_name }}<br>
                    <strong>Dosage:</strong> {{ prescription.dosage }}<br>
                    <strong>Instructions:</strong> {{ prescription.instructions }}<br>
                    <strong>Doctor:</strong> {{ prescription.doctor_name }}<br>
                    <strong>Date:</strong> {{ prescription.date_prescribed }}<br>
                    <strong>Is Prescription Filled?</strong> {{ prescription.is_filled }}<br>

                    {% if prescription.is_filled %}
                    <p><strong>Status:</strong> Filled</p>
                    {% else %}
                        <!-- Display buttons only if the prescription is not filled -->
                        <a href="{% url 'edit_prescription' prescription.id %}">Edit</a>
                        <a href="{% url 'delete_prescription' prescription.id %}">Delete</a>

                        <!-- Only show Fill Prescription if the user is a pharmacist -->
                        
                        {% if user|is_in_group:"Pharmacist" %}
                            <a href="{% url 'fill_prescription' prescription.id %}">Fill Prescription</a>
                        {% endif %}
                    {% endif %}          
                </li>
                <hr>
            {% endfor %}
        </ul>
    </body>
    </html>
{% endblock %}