{% extends "base.html" %}

{% block content %}

<h1>Pharmacy Awesome -- Patients</h1>
{% if user.is_authenticated %}
    <!-- Search Bar for Patients -->
     <h2>Search for Patient by Name or Date of Birth</h2>
    <form action="{% url 'patient_search' %}" method="get">
        <input name="query" type="text" placeholder="Patient Name...">
    </form>

    <h2>Other Patient Links</h2>

    <div><a href="{% url 'patient_list' %}">View Patient List</a></div>
    <div><a href="{% url 'add_patient' %}">Register a new Patient</a></div>
{% else %}
    <p>You must <a href="/accounts/login">login to an account</a> to view Patients.</p>
{% endif %}
{% endblock %}