{% extends "base.html" %}
{% load custom_filters %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'prescription_list.css' %}" />
{% endblock css %}
{% block content %}

<body>
    <div class="header-section auth-links">
        {% if user.is_authenticated %}
            <h1>Welcome, {{ user.username }}</h1>
        {% else %}
            <a href="{% url 'login' %}" class="auth-link">Login</a>
        {% endif %}
    </div>

    <h2><a class="reports-button" href="{% url 'reports' %}">Access Reports</a></h2>

    <h2>Notifications</h2>
    <!-- Check if there are any notifications at all -->
    {% if low_stock_notifications or expiring_notifications %}
        <!-- Display Low Stock Notifications -->
        {% for notification in low_stock_notifications %}
        <hr>
            <li>
                <strong>{{ notification.drug.drug_name }}</strong>: 
                {{ notification.stock_level }} units left - 
                Urgency: {{ notification.urgency }}
            </li>
        {% endfor %}

        <!-- Display Expiration Notifications -->
        {% for notification in expiring_notifications %}
        <hr>
            <li>
                <strong>{{ notification.drug.drug_name }}</strong>: 
                Expiring on {{ notification.drug.exp_date|date:"F j, Y" }} - 
                Urgency: {{ notification.urgency }}
            </li>
        {% endfor %}
    
    {% else %}
        <p>No new notifications at this time.</p>
    {% endif %}

    {% if expired_notifications %}
    <h3>Expired Drugs</h3>
        {% for notification in expired_notifications %}
            <li>
                <strong>{{ notification.drug.drug_name }}</strong>: Expired on {{ notification.drug.exp_date|date:"F j, Y" }}
                <!-- Remove button to delete expired drugs -->
                <a href="{% url 'remove_expired_drug' notification.drug.id %}" onclick="return confirm('Are you sure you want to remove this expired drug?');">
                    <button>Remove</button>
                </a>
            </li>
        {% endfor %}

    {% else %}
        <p>No expired drugs at this time.</p>
    {% endif %}
    <hr>


    

</body>
</html>
{% endblock content %}