{% extends "base.html" %}
{% load custom_filters %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'prescription_list.css' %}" />
{% endblock css %}
{% block content %}

<body>
    <style>
        /* Button styling */
        button {
            padding: 10px 15px;
            font-size: 16px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            margin-top: 20px;
        }

        button:hover {
            background-color: #45a049;
        }

        h1 {
            color: #333;
        }

        select, button {
            margin-top: 10px;
            display: block;
        }
    </style>
    <div class="header-section auth-links">
        {% if user.is_authenticated %}
            <h1>Welcome, {{ user.username }}</h1>
        {% else %}
            <a href="{% url 'login' %}" class="auth-link">Login</a>
        {% endif %}
    </div>

    <h2>Notifications</h2>
    <!-- Check if there are any notifications at all -->
    {% if low_stock_notifications or expiring_notifications %}
        
            <!-- Display Low Stock Notifications -->
            {% if low_stock_notifications %}
            
                {% for notification in low_stock_notifications %}
                <hr>
                    <li>
                        <strong>{{ notification.drug.drug_name }}</strong>: 
                        {{ notification.stock_level }} units left - 
                        Urgency: {{ notification.urgency }}
                    </li>
                {% endfor %}
            
            {% endif %}

            <!-- Display Expiration Notifications -->
            {% if expiring_notifications %}
            
                {% for notification in expiring_notifications %}
                <hr>
                    <li>
                        <strong>{{ notification.drug.drug_name }}</strong>: 
                        Expiring on {{ notification.drug.exp_date|date:"F j, Y" }} - 
                        Urgency: {{ notification.urgency }}
                    </li>
                {% endfor %}
                
            
            {% endif %}
    {% else %}
        <p>No new notifications at this time.</p>
    {% endif %}
    <hr>

<button onclick="window.location.href='http://127.0.0.1:8000/'">Return to Main Page</button>
</body>
</html>
{% endblock content %}