{% extends "base.html" %}
{% load custom_filters %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'prescription_list.css' %}" />
{% endblock css %}
{% block content %}

<style>
    /* Button styling */
    button {
        padding: 10px 15px;
        font-size: 16px;
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        margin-top: 20px;
    }

    button:hover {
        background-color: #45a049;
    }

    h1 {
        color: #333;
    }

    select, button {
        margin-top: 10px;
        display: block;
    }
</style>

<h2>Report Generator</h2>

{% if messages %}
    {% for message in messages %}
        <p style="color: green;">{{ message }}</p>
    {% endfor %}
{% endif %}

<!-- Form to select a report type and date range -->
<form method="GET" action="{% url 'reports' %}">
    <label for="report_type">Select Report Type:</label>
    <select id="report_type" name="report_type">
        <option value="">--Report Type--</option>
        <option value="inventory"{% if report_type == "inventory" %} selected{% endif %}>Inventory</option>
        <option value="financial"{% if report_type == "financial" %} selected{% endif %}>Financial</option>
    </select>
    <br>
    <label for="start_date">Start Date:</label>
    <input type="date" id="start_date" name="start_date" value="{{ start_date }}">
    <br>
    <label for="end_date">End Date:</label>
    <input type="date" id="end_date" name="end_date" value="{{ end_date }}">

    <button type="submit">Generate Report</button>
</form>

{% load utils %}
{% if report_type == "inventory" %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div>
    <canvas id="inventory_chart"></canvas>
</div>
<script>
    const ctx = document.getElementById('inventory_chart');
  
    new Chart(ctx, {
      type: 'line',
      data: {
        labels: [{% for label in labels %}"{{label}}",{% endfor %}],
        datasets: [
            {% for data_set in datasets %}
                {% with values=data_set.values|to_list %}
                {
                    label: "{{values|get:0}}",
                    data: {{values|get:1}},
                    borderWidth: {{values|get:2}}
                },
                {% endwith %}
            {% endfor %}
        ]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
</script>
    <p>inventory report goes here</p>
{% elif report_type == "financial" %}
    <p>financial report goes here</p>
{% else %}
    <p>Please select a report type</p>
{% endif %}


{% if start_date and end_date %}
    {% if start_date > end_date %}
        <p>ERROR</p>
    {% else %}
        <p>OK</p>
    {% endif %}
    <p>both dates selected</p>
{% elif start_date and not end_date %}
    <p>Start date selected and end date not selected</p>
{% elif end_date and not start_date %}
    <p>End date selected and start date not selected</p>
{% else %}
    <p>all time</p>
{% endif %}

{% endblock content %}