.form-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid;
    border-radius: 5px;
    background-color: #fff;
    border-color: #ccc;
    color: #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    text-align: center;
    /* Increase space between title and form elements */
    margin-bottom: 20px;
}

.form-container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* Bolden button text for clarity */
    font-weight: bold;
    /* Add margin to the top of the button */
    margin-top: 10px;
    /* Smooth transition effect */
    transition: background-color 0.3s;
    color: #fff;
    background-color: #007bff;
}

.form-group {
    /* Set to relative positioning to create floating effect for help_text */
    position: relative;
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    /* Bolden labels for readability */
    font-weight: bold;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid;
    border-radius: 4px;
    /* Ensure's that the width includes padding and border */
    box-sizing: border-box;
}

.errors {
    /* Using a default error color */
    color: #dc3545;
    font-size: 0.875em;
    margin-top: 5px;
}

.help-text {
    display: none;
    position: absolute;
    top: 100%;
    /* Slight offset */
    left: 10px;
    padding: 5px;
    border-radius: 4px;
    /* Add shadow */
    font-size: 0.875em;
    /* Ensure that it's above other elements */
    z-index: 100;
    white-space: nowrap;
}

.form-group:hover .help-text {
    /* Display help text when mouse hovers over the form group */
    display: block;
}

.form-container .form-group:last-child {
    /* Remove bottom margin from the last form group */
    margin-bottom: 0;
}

.form-group input,
.form-group textarea,
.form-group select {
    border-color: #ccc;
    background-color: #fff;
    color: #000;
}

.help-text {
    background-color: #f8f9fa;
    color: #6c757d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#alert-error {
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-size: larger;
    font-weight: bold;
    color: rgb(255, 0, 0);    
}

#alert-success {
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-size: larger;
    font-weight: bold;
    color: rgb(5, 182, 5);    
}

