<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Pharmacy Management System</title>
        {% block css %}
        {% endblock css %}
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}" />
    </head>
    <body>
        <header>
            <div class="header-section brand">
                <h1>Team_Name</h1>
            </div>
            <span class="divider">|</span>
            <div class="header-section navigation">
                <a href="{% url 'landingPage' %}" class="nav-link">Home</a>
                <a href="{% url 'about' %}" class="nav-link">About</a>
                {% load custom_filters %}
                {% if user|is_in_group:"Pharmacy Technician,Pharmacist,Pharmacy Manager,Cashier" %}
                    <span class="divider">|</span>
                    <a href="{% url 'create_drug' %}"class="nav-link">Drugs</a>
                    <a href="{% url 'inventory_check' %}"class="nav-link">Inventory Check</a>
                    <a href="{% url 'prescriptions' %}" class="nav-link">Prescriptions</a>
                    <a href="{% url 'patients_main' %}" class="nav-link">Patients</a>
                {% else %}
                {% endif %}
                {% if user|is_in_group:"Pharmacy Manager" %}
                <a href="{% url 'receiving_main' %}" class="nav-link">Receiving</a>
                {% endif %}
            </div>

            <div class="header-section auth-links">
                {% if user.is_authenticated %}
                    <span>Hi, {{ user.username }}</span>
                    <span class="divider">|</span>
                    <a href="{% url 'admin:index' %}" class="auth-link">Admin</a>
                    <span class="divider">|</span>
                    <a href="{% url 'logout' %}" class="auth-link">Logout</a>
                {% else %}
                    <a href="{% url 'login' %}" class="auth-link">Login</a>
                {% endif %}
            </div>
        </header>
        <div id="content">
            {% block content %}
            {% endblock content %}
        </div>


    </body>
</html>
