{% extends "base.html" %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'form.css' %}" />
{% endblock css %}
{% block content %}

<div class="form-container">
    <h2>Checkout</h2>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Finalize Transaction</button>
    </form>

    {% if change_due is not None %}
    <p class="success-message">Change due: ${{ change_due }}</p>
{% endif %}

</div>
{% endblock %}